[submodule "frontend"]
	path = frontend
	url = git@github.com:woragis/iterum-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:woragis/iterum-backend.git
[submodule "landing-page"]
	path = landing-page
	url = git@github.com:woragis/iterum-landing-page.git
